<h2><%= @post.title %></h2>
<div>
  <%= @post.body %>
</div>

<%= render "comment_form.html", post: @post, changeset: @changeset,
                                action: post_post_path(@conn, :add_comment, @post) %>

<%= render "comments.html", post: @post %>

<%= link "Back", to: post_path(@conn, :index) %>